<html>
    <body>
        <ul>
            {{#items}}
                <li>{{title}} {{quantity}}</li>
            {{/items}}
        </ul>
        <form method="POST">
            <input name="cardHolder"/>
            <input name="cardNumber"/>
            <input name="cardExpirationDate"/>
            <input name="cardCVV"/>
            <input type="submit" value="Payer"/>
        </form>
        {{#success}}Payment confirmed{{/success}}
        {{^success}}Payment to proceed{{/success}}
    </body>
</html>